<template>
    <h3>Film Form</h3>

    <div v-if="sts == 'success'" class="alert alert-success">{{ msg }}</div>
    <div v-else-if="sts == 'fail'" class="alert alert-danger">{{ msg }}</div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">Title</div>
                <div class="col-md-12">
                    <input type="text" class="form-control" v-model="title">
                    <span class='text-danger' v-if="err.title">{{ err.title[0] }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">Description</div>
                <div class="col-md-12"><input type="text" class="form-control" v-model="description"></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2">Rental Rate</div>
                <div class="col-md-5"><input type="text" class="form-control" v-model="rental_rate"></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2">Language</div>
                <div class="col-md-5">
                    <select class="form-control" v-model="language">
                        <option value="1">English</option>
                        <option value="2">Italian</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"></div>
                <div class="col-md-12"><input type="submit" class="btn btn-primary" value="Save" @click="save"></div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            title: '',
            description: '',
            rental_rate: 0.0,
            language: 2,
            sts: '',
            msg: '',
            err: {}
        }
    },
    methods: {
        save() {
            const data = {
                title: this.title,
                description: this.description,
                rental_rate: this.rental_rate,
                language: this.language,
            };

            const url = "http://localhost:8000/api/film-save";
            fetch(url, {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then((response) => response.json())
            .then((json) => {
                console.log(json);
                this.sts = json.sts;
                this.msg = json.msg;
                if (this.sts == 'fail') {
                    this.err = json.err;
                }
            });
        }
    }
}
</script>

<style scoped>
.card-body {
    background-color:#eee;
}
</style>