<template>
    <div>
        <h3>Film Search</h3>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">Title</div>
                    <div class="col-md-5"><input type="text" class="form-control" v-model="title" @keyup="search"></div>
                    <div class="col-md-1"><input type="submit" class="btn btn-primary" value="Search" @click="search" /></div>
                </div>
            </div>
        </div>


        <small>{{ total }} Records found, displaying record from {{ from }} to {{ from + 20 }}</small>
        
        <v-pagination
            v-model="page"
            :pages="total_page"
            :range-size="1"
            active-color="#DCEDFF"
            @update:modelValue="updateHandler"
        />

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="bg-info">
                    <th>No</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th style="width:10%">Rental Rate</th>
                    <th style="width:15%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(film, index) in films" :key="index">
                    <td>{{ index + from }}</td>
                    <td>{{ film.title }}</td>
                    <td>{{ film.description }}</td>
                    <td>{{ film.rental_rate }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm m-2" @click="ondelete(film.film_id)">Delete</button>
                        <button class="btn btn-success btn-sm">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <v-pagination
            v-model="page"
            :pages="total_page"
            :range-size="1"
            active-color="#DCEDFF"
            @update:modelValue="updateHandler"
        />
    </div>
</template>

<script>
import VPagination from '@hennge/vue3-pagination';
import "@hennge/vue3-pagination/dist/vue3-pagination.css";

export default {
    components: { VPagination },
    data() {
        return {
            title: '',
            page: 1,
            total_page: 1,
            films: [],
            from: 0,
            total: 0
        }
    },
    mounted() {
        // auto run lifecycle method. fetch film
        const url = "http://localhost:8000/api/film-search";
        fetch(url).then((response) => response.json()).then((json) => {
            this.films = json.data;
            this.total_page = json.last_page;
            this.from = json.from;
            this.total = json.total;
        });
    },
    methods: {
        // on clic pagination
        updateHandler() {
            console.log('update page...' + this.page);
            const url = "http://localhost:8000/api/film-search?page=" + this.page;
            fetch(url).then((response) => response.json()).then((json) => {
                this.films = json.data;
                this.total_page = json.last_page;
                this.from = json.from;
                this.total = json.total;
            });
        },
        search() {
            console.log("len = " + this.title.length);
            if (this.title.length < 3) {
                console.log("len = " + this.title.length);
                return;
            }

            const url = "http://localhost:8000/api/film-search";
            fetch(url, {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"title": this.title})
            }).then((response) => response.json()).then((json) => {
                this.films = json.data;
                this.total_page = json.last_page;
                this.from = json.from;
                this.total = json.total;
            });
        },
        ondelete(film_id) {
            let ok = confirm('Are you sure to delete ?');
            if (ok) {
                console.log(film_id);
                const url = "http://localhost:8000/api/film-delete/" + film_id;
                fetch(url).then((response) => response.json()).then((json) => {
                    console.log(json);
                    if (json.sts == 'success')
                        this.films = this.films.filter(f => f.film_id !== film_id);
                });
            } else {
                return;
            }
        }
    }
}
</script>