<template>
    <section>
        <h1>{{ message }}</h1>
        <br>
        <button @click="onClick" class="btn btn-primary">Click Me</button>
        <hr>
        <ul>
            <li v-for="dat in data" :key="dat.email">{{ dat.name }} {{ dat.email }}</li>
        </ul>
    </section>
</template>

<script>
export default {
    data() {
        return {
            message: 'Hello World...',
            data: []
        }
    },
    methods: {
        onClick() {
            alert('You click me');
        }
    },
    mounted() {
        fetch('http://localhost:8000/api/sample1')
        .then(response => response.json())
        .then(json => {
            console.log(json);
            this.data = json;
        })
    }
}
</script>