<template>
  <section>
    <the-hello></the-hello>
    <the-button></the-button>
    <!-- list kan semua person disini --->

    <div class="card" v-for="p in person" :key="p.email">
      <div class="card-content">
        Name : {{ p.name }} <br>
        Email : {{ p.email }}
      </div>
    </div>

    <hr>
    <textarea class="form-control" @keydown.space="onSpacePress('azman', $event)"></textarea>

  </section>
</template>

<script>
import TheHello from './components/HelloVue.vue'

export default {
  name: 'App',
  components: {
    TheHello
  },
  data() {
    return {
      person: [
        {name: 'Abu', email: 'abu@yahoo.com'},
        {name: 'John Doe', email: 'john@yahoo.com'},
      ]
    }
  },
  methods: {
    onSpacePress(nama, event) {
      console.log(nama + ' space bar is pressed...' + event.target.value);
    }
  }
}
</script>

<style scoped>
  div.card {
    margin: 1rem;
    background-color: #eee;
  }
</style>
