<template>
    <div>
        <nav>
            <router-link to="/">Home</router-link> | 
            <router-link to="/post">Post List</router-link> | 
            <router-link to="/search">Search</router-link> | 
        </nav>
        <router-view></router-view>
    </div>
    
</template>

<script>
export default {
    
}
</script>