<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Black Belt - Component</title>
</head>
<body>
    <div id="app">
        <my-component></my-component>
        <my-counter name="Abu"></my-counter>
        <my-counter name="Azman"></my-counter>
        <my-counter></my-counter>
    </div>

    <script>
        Vue.component('my-component', {
            template: '<div>A custom component</div>',
        });

        Vue.component('my-counter', {
            template: `
            <div>
                {{ name }}
                <button @click="counter += 1">{{ counter }}</button>
            </div>
            `,
            // data() {
            //     return {
            //         counter: 1
            //     }
            // },
            data: function() {
                return {
                    counter: 1
                }
            },

            props: ['name']
        });

        new Vue({
            el: '#app',
            data: {},
            methods: {

            }
        });
    </script>

</body>
</html>