<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Green Belt - Form Input Binding</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="first_name">
        <input type="text" v-model="last_name">
        {{ full_name }} <br> {{ nama_penuh }}
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
               first_name: 'John',
               last_name: 'Doe',
               full_name: 'John Doe'
            },
            watch: {
                first_name: function() {
                    this.full_name = this.first_name + ' ' + this.last_name;
                },
                last_name: function() {
                    this.full_name = this.first_name + ' ' + this.last_name;
                },
            },
            computed: {
                nama_penuh: function() {
                    return this.first_name + ' ' + this.last_name;
                }
            }
        });
    </script>

</body>
</html>