<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Brown Belt - Loop</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(food, no) in groceries">{{ no + 1 }} {{ food }}</li>
        </ul>

        <br>

        <ul>
            <li v-for="(value, key, index) in car">{{ index + 1 }} {{ key }} : {{ value }}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                groceries: ['Milk', 'Egg', 'Cheese'],
                car: {
                    made: 'Japan',
                    brand: 'Ipsum',
                    year: 2019
                }
            },
        });
    </script>

</body>
</html>