<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Green Belt - Form Input Binding</title>
</head>
<body>
    <div id="app">
        <input type="text" :value="message" placeholder="Edit me">
        <input type="text" v-model:value="message" placeholder="Edit me">
        {{ message }} <br>

        <textarea v-model:value="message" placeholder="Edit Me"></textarea> 
        <br>

        <input type="checkbox" v-model="cb">

        <br>

        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>

        <select v-model="selected">
            <option disabled value="">Please select a color</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>
        <span>Selected: {{ selected }}</span>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'xxx',
                cb: 'checked',
                picked: 'Two',
                selected: '',
            },
        });
    </script>

</body>
</html>