<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Green Belt - Form Input Binding</title>
</head>
<body>
    <div id="app">
        <h1 v-if="fridge_empty">We need to go shooping</h1>
        <h1 v-else>The fridge is full..we can eat</h1>
        {{ 1 + 2 }}
        <hr>

        <h1 v-if="fridge == 'empty'">Jom Shopping</h1>
        <h1 v-else-if="fridge == 'half_full'">The fridge is half full</h1>
        <h1 v-else>Let's eat</h1>

        <hr>
        <h1 v-show="fridge_empty">Mari Shopping</h1>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                fridge: 'half',
                fridge_empty: true
            },
        });
    </script>

</body>
</html>