<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">
        Nama saya {{ name }}, saya tinggal di {{ alamat }}
        <input type="text" v-model="name">
        <br>
        <h1 v-bind:id="header_id">{{ name | besar }}</h1>
        <h2 :id="header_id">{{ alamat | kecil }}</h2>

        <h3 v-html="html_output"></h3>
    </div>

    Hello... mmm

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                name: 'Tony...',
                alamat: 'Bangi Selangor',
                header_id: 'greeting',
                html_output: '<a href="https://www.google.com">Google</a>'
            },
            filters: {
                besar: function(value) {
                    return value.toUpperCase();
                },
                kecil: function(value) {
                    return value.toLowerCase();
                }
            }
        });
    </script>
</body>
</html>