<template>
    <div :style="{'background-color': color}">
        <img :src="image">
        <h1>{{ msg }}</h1>
        <h2>{{ 5 > 7 ? 'Yes' : 'No' }}</h2>
        <the-button></the-button>

        <button :disabled="isDisabled" @click="toggle">Button Biasa</button>
        <br>
        <button @click="color = 'green'" class="btn" :class="{'btn-primary':isPrimary, 'btn-sm': isSmall}">The Button</button>
        <hr>

        <form @submit.prevent="save">
            <button class="btn btn-success">Submit Form</button>
        </form>
    </div>
</template>

<script>
export default {
   data() {
       return {
           image: './assets/logo.png',
           isDisabled: false,
           isPrimary: true,
           isSmall: false,
           color: 'blue',
           msg: 'Hello Vue'
       }
   },
   methods: {
       toggle() {
           this.isDisabled = !this.isDisabled;
           this.color = 'yellow';
       },
       save() {
           console.log('submit');
       }
   },
}
</script>

<style>
h1 {
    color:blue;
}
</style>