<template>
    <button type="button">Button Text</button>
</template>

<script>
export default {
   data() {
       return {
       }
   }
}
</script>

<style scoped>
button {
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 1rem;
}
</style>