<template>
    <div v-if="user.role === 'ADMIN'">
        You name is {{ user.name }}
    </div>

    <div v-else>
        Your are not an admin
    </div>
</template>

<script>
export default {
    data() {
       return {
           user: {role: 'USER', name: 'Azman'}
       } 
    },
}
</script>

<style scoped>

</style>