<template>
    <section>
        <h2>Post List</h2>
        <div v-for="(post, index) in posts" :key="index">
            {{ post.title }}
            <br>
            <button class="btn btn-primary btn-sm" @click="showDetails(post.id)">Detail</button> &nbsp;
            <button class="btn btn-danger btn-sm ml-2" @click="doDelete(post.id)">Delete</button>
        </div>

        <the-card v-if="isShow" @click.stop="isShow = false" title="Details">
            <template v-slot:default>
            {{ details.body }} <br>
            Id : {{ details.id }} User Id : {{ details.userId }}
            </template>

            <template #footer>{{ details.title }}</template>
        </the-card>

    </section>
</template>

<script>
import TheCard from './TheCard.vue';

export default {
    components: {
        TheCard
    },
    data() {
        return {
            isShow: false,
            posts: [],
            details: {},
        }
    },
    mounted() {
        // async
        fetch('https://jsonplaceholder.typicode.com/posts')
        .then(response => response.json())
        .then(json => {
            console.log(json);
            this.posts = json;
        });
    },
    methods: {
        showDetails(id) {
            this.isShow = true;
            const details = this.posts.find(post => post.id === id);
            console.log(details);
            this.details = details;
        },
        doDelete(id) {
            const ok = confirm("Are you sure you want to delete ?");
            
            if (ok) {
                const index = this.posts.findIndex(post => post.id === id);
                this.posts.splice(index, 1);
            }
        }
    },
    beforeRouteLeave() {
        return confirm('are you sure ?');
    }
}
</script>

<style scoped>
div {
    border: 1px solid #ddd;
    margin: 5px;
    padding:10px;
}

</style>