<template>
    <div class="card">
        <div class="card-header">Geegle</div>
        <div class="card-body">
            Carian : <input type="text" class="form-control" v-model="word"> <br>
            <button class="btn btn-primary" @click="search">Cari</button>
            <hr>

            <!-- show result -->
            <!-- <ul>
                <li v-for="(rs, index) in result" :key="index">{{ rs }}</li>
            </ul> -->

            <show-result @tamat="showMessage" :rs="result" title="Search Result"></show-result>
            
            <div v-if="result.length > 0">
                {{ message }}
            </div>
        </div>
    </div>
</template>

<script>
import ShowResult from './ShowResult.vue';

export default {
    components: {
        ShowResult
    },
    data() {
      return {
          message: '',
          word: '',
          arr: ['One', 'Two', 'Three', 'Four', 'Five'],
          result: []
      }  
    },
    watch: {
        word(value) {
            if (value !== '')
                this.search();
            else
                this.result = [];
        }
    },
    methods: {
        search() {
            const wrd = this.word.toLowerCase();
            this.result = this.arr.filter(val => {
                console.log("wrd = " + wrd);
                return val.toLowerCase().indexOf(wrd) > -1;
            });
        },
        showMessage(msg) {
            this.message = msg;
        }
    },
    // on load to DOM
    mounted() {
        console.log('on mounted...');
    },
    // sebelum load ke DOM
    beforeMount() {
        console.log('on before mount...');
    },
    // every data change / update DOM
    updated() {
        console.log('on update');
    },
    unmounted() {
        console.log('on unmounted...');
    }
}
</script>