<template>
    <section>
        <h4>{{ title }}</h4>
        <table class='table'>
            <tbody>
                <tr v-for="(data, index) in rs" :key="index">
                    <td>{{ data }}</td>
                </tr>
            </tbody>

            {{ hantar() }}

            <button @click="hantar">Trigger Tamat</button>
        </table>
    </section>
</template>

<script>
export default {
    data() {
        return {
            outcome: 'Search completed...'
        }
    },
    props: ['rs', 'title'],
    emits: ['tamat'],
    methods: {
        hantar() {
            console.log('emit...' + this.outcome);
            this.outcome = 'Selesai carian...';
            this.$emit('tamat', this.outcome);
        }
    }
}
</script>