<template>
    <div class="card" id="details" >
        <div class="card-header"><h4>{{ title }}</h4></div>
        
        <div class="card-body">
            <p class="card-text">
                <slot></slot>
            </p>
        </div>

        <div class="card-footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: ['title']
}
</script>
 
<style scoped>

div#details {
    position: fixed;
    top: 25%;
    left: 25%;
    width:50%;
    border:2px solid #000;
}
</style>