<template>
    <section>
        <nav>
            <a href='#' @click="comName = 'SearchEngine'">Home</a> | 
            <a href='#' @click="comName = 'PostRequest'">Search</a>
        </nav>

        <component :is="comName"></component>
    </section>
</template>

<script>
import PostRequest from './PostRequest.vue';
import SearchEngine from './SearchEngine.vue';

export default {
    components: {
        PostRequest, SearchEngine
    },
    data() {
        return {
            comName: 'SearchEngine'
        }
    },
}
</script>